IO_LOC "ledG" 16;
IO_PORT "ledG" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "ledB" 17;
IO_PORT "ledB" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;
IO_LOC "ledR" 18;
IO_PORT "ledR" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8;

IO_LOC "TXpin" 38;
IO_PORT "TXpin" IO_TYPE=LVCMOS33;

IO_LOC "B_button" 14;
IO_PORT "B_button" IO_TYPE=LVCMOS33;

IO_LOC "clk_24MHz" 35;
IO_PORT "clk_24MHz" IO_TYPE=LVTTL33 PULL_MODE=UP;


